
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.btn-table{
    background-color:transparent;
    color: rgb(95, 93, 93);
    border: none;
    font-size: 1.25rem;
    transition: all .3s;
}
.btn-table:hover{
    transform:scale(1.1,1.1);
}

/*
 at night moood --------------------------------------------------------------- 
 */
.body{
    background-color:#060818;
}

.searching{
    background-color: #1B2E4B;
    border: none;
}

.search-btn{
    color: black;
    font-weight: 800;
    background-color: #496081;
    transition: all 1s;
    border: none;
}
.search-btn:hover{
    background-color: #C8E2E2; 
    color: black;
}

.controls-btns-night button{
    background-color: #1B2E4B;
    color: #009688;
}
.table-night{
    border-radius: 0.625rem;
    overflow: hidden;
    color: #737475;
    font-weight: 500;
    text-align: center;
    background-color: #0E1726;
    width: 100%;
}

.thead-night{
    color: #BFC9D4;
    font-size: 1.375rem;
}

table tbody tr{
  transition: all 1s;
}

.table-night tbody tr:hover{
  cursor: pointer;
  background-color: rgba(13, 163, 163, 0.5);
}
.table-night tbody tr td button:hover{
    color: #009688;
}


.modal-body-night,.modal-footer-night{
   background-color: #060818; 
   border: none;
}


.form-group-night{
    width: 100%;
    background:transparent;
    border: none;
}
.input-night{
    background-color: #1B2E4B;
    border: none;
    color: #009688;
}

.addBtn-night{
    background-color:#163c75;
    color: #aeaeaf;
    transition: all 1s;
}
.addBtn-night:hover{
    background-color: #91b6ee;
    color: black;
}


/*
 at sun moood --------------------------------------------------------------- 
*/

.body-yellow{
    background-color:#FFFAFA;
}

.search-btn-yellow{
    border: solid 0.0625rem rgb(221, 221, 8);
    color: black;
    font-weight: 800;
    background-color: rgb(221, 221, 8);
    transition: all 1s;
}
.search-btn-yellow:hover{
    background-color: black; 
    color: rgb(221, 221, 8);
}
.nightMood-yellow{
    background-color: rgb(221, 221, 8);
    padding: 0.3125rem 0.625rem;
    border-radius:0.3125rem;
    border: none;
    font-size: 1.375rem;
    color: rgb(34, 34, 34);
}
.controls-btns-yellow button{
    background-color: rgb(221, 221, 8);
    color: black;
}
.controls-btns-yellow button:hover{
    background-color: black; 
    color: rgb(221, 221, 8) !important;
}

.table-yellow{
    border-radius: 0.625rem;
    overflow: hidden;
    color: black;
    font-weight: 500;
    text-align: center;
    background-color:white;
    box-shadow: 0 2px 10px black;
}

.thead-yellow{
    color: black;
    font-size: 1.375rem;
    background:rgb(221, 221, 8);
    opacity:.8;
}

.modal-body-yellow{
    background:linear-gradient(135deg,yellow 15%,white 15%);
    border:none;
}

.form-group-yellow{
    width: 100%;
    color:black;
    font-weight: 43.75rem;
    border: none;
    background-color: transparent;
} 

 .addBtn-yellow{
    border: solid 0.0625rem rgb(221, 221, 8);
    color: black;
    font-weight: 800;
    background-color: rgb(221, 221, 8);
    transition: all 1s;
}
.addBtn-yellow:hover{
    background-color: #C8E2E2;
    color: black;
}

.table-yellow tbody tr:hover{
    cursor: pointer;
    background-color: #ffd700;
  }
  .table-yellow tbody tr td button:hover{
    color: black;
}

/*
 both night and sun ___________________________________
 */

.nightMood{
 padding: 0.3125rem 0.625rem;
 border-radius:0.3125rem;
 border: none;
 font-size: 1.375rem;
 background-color: #1B2E4B;   /* night */
 color: #009688;
}

#inputSearch{
    transition: all 1s;
}
.controls-btns{
    padding:0.3125rem 0;
}

.controls-btns button{
    padding: 0.3125rem 0.625rem;
    border-radius:0.3125rem;
    border: none;
    font-size: 1.375rem;
    transition: all .5s;
}
.controls-btns button:hover{
  transform: scale(1.05,1.05);
  color: white;
}



@media screen and (max-width:800px) {
    body,html{
        font-size:13px;
    }
    .controls-btns{
        margin-top: 10px;
    }
    table{
        margin-top:5px;
    }
}